<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>almacen-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/SpringContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>ClienteServlet</display-name>
		<servlet-name>ClienteServlet</servlet-name>
		<servlet-class>gery.rivera.almacen.web.ClienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClienteServlet</servlet-name>
		<url-pattern>/ClienteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
<servlet-name>SpringRestServlet</servlet-name>
<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
       <init-param>
        <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/SpringContext.xml</param-value>
        </init-param>
</servlet>
<servlet-mapping>
<servlet-name>SpringRestServlet</servlet-name>
<url-pattern>/spring/*</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>JerseyServlet</servlet-name>
<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
       <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>gery.rivera.almacen.web.resource</param-value>
        </init-param>
</servlet>
<servlet-mapping>
<servlet-name>JerseyServlet</servlet-name>
<url-pattern>/jersey/*</url-pattern>
</servlet-mapping>

	




</web-app>